* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchte Ms", Helvetica, sans-serif;
	background: #F5ECCE;
}

/***** formatacao do cabecalho ******/
#cabecalho {
	background:#8FC7AD;
	text-align: center;
	padding:10px;
}

#branco {
	color: white;
}

h1 {
	font-size: 3.8em;
	margin: 5px;
	color:#696969;
} 

#logo, #menu {
	padding: 8px;
}


/***** links do menu ****/

a {
	text-decoration: none
}

#cabecalho a:link, #cabecalho a:visited {
 color: white;
 padding: 10px;

}

#cabecalho a:hover {
	background: white;
	color:#8FC7AD;
}

#cabecalho a:active {
	color: gray;
}

/****** links gerais *****/

a:link, a:visited {
	 color: #8FC7AD;
}
a:hover {
	color: gray;
}
a:active {
	color:white;
}

/***** area principal ****/

#area-principal {
	/*background: white;*/
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	
}

#area-postagem {
	/* pink*/
	/*padding: 10px;*/
	float: left;
	/*margin-top: 20px;*/             
	width: 660px; /*660px;*/
	
}

.postagens {
	/*width: 660px;*/
	padding: 20px;
	background: white;
	margin-bottom: 20px;

}

.data-postagem {
	display: block;
	font-size: 0.8em;
	padding-bottom: 10px; 
	border-bottom: 1px solid #F4F4F4;
	margin-bottom: 10px;
}

h2 {
	color: #8FC7AD;
	font-size: 1.7em; /*padrao h2 é 1.5em;*/
}


/***** area lateral *****/

#area-lateral {
	/*background: purple;*/
	padding-bottom: 20px;
	float: right;
	margin: 0px 5px;
}

.conteudo-lateral{
	background: white;/*blue*/
	width: 210px;/*240px*/
	/*margin: 10px 0px;*/
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral {
	font-size: 0.8em;
	border-bottom: 1px dotted gray;
	padding: 5px;
}

h3 {
	color: #696969;
	background:#8FC7AD;
	padding: 5px;
	margin-bottom: 5px;
}

/*** rodape ***/

#rodape {
	background:#8FC7AD;
	text-align: center;
	padding:30px;
	clear: both;
}